<h3>Table</h3>
<table class="table table-bordered table-striped mt-4">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
        <tr>
                <th scope="col"><input type="text" name="" id="" (keyup)="getData()"></th>
                <th scope="col"><input type="text" name="" id="" (keyup)="getData()"></th>
                <th scope="col"><input type="text" name="" id="" (keyup)="getData()"></th>
                <th scope="col"><input type="text" name="" id="" (keyup)="getData()"></th>
                <th scope="col"><input type="button" value="Add" class="btn btn-info"></th>
            </tr>
    </thead>
    <tbody>
        <!-- dynamic data
        *ngFor structural directives
        -->
        <tr *ngFor="let row of rows">   
                <th scope="row">{{row?.id}}</th>
                <td>{{row?.item}}</td>
                <td>{{row?.qty}}</td>
                <td>{{row?.price}}</td>
                <td><a href="#" (click)="onDeleteRow(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> </a></td>
            </tr>
    </tbody>
</table>