<div class="container-fluid text-center">
<input type="button" class="mr-3 btn-style" type="submit" value="Google Search">
<input type="button" class="btn-style" type="submit" value="I'm Feeling Lucky">
</div>
<div class="container-fluid text-center">
  Google offred in :       
  <a class="p-1" href="#">मराठी</a>
  <a class="p-1" href="#">हिन्दी</a>
  <a class="p-1" href="#">বাংলা</a>
  <a class="p-1" href="#">ગુજરાતી</a>
  <a class="p-1" href="#">ਪੰਜਾਬੀ</a>
  <a class="p-1" href="#">తెలుగు</a>
  <a href="#">മലയാളം</a>
</div>