<footer class="footer ">
<div class="container-fluid row">
    <span class="p-1"> India</span>
</div>

  <div class="container-fluid row ">
    <div class="col-md-6 text-left">
        <a class=" text-dark" href="#">Advertising</a>
        <a class="p-3 text-dark" href="#">Business</a>
        <a class="p-3 text-dark" href="#">About</a>
        <a class="p-3 text-dark" href="#">How search works</a>
    </div>
   <div class="col-md-6 text-right">
      <a class=" text-dark" href="#">privacy</a>
      <a class="p-3 text-dark" href="#">terms</a>
      <a class="p-3 text-dark" href="#">setting</a>
   </div>
</div>
</footer>



        
       
    