<div class="container mt-3">
    <div class="row">
<div class="col-md-3">
    <div class="box" (mouseenter)="onMouseEnter($event)"
     (mouseleave)="onMouseLeave($event)"
     [style.background]="boxbknd">

    </div>
</div>
<div class="col-md-3">
    <div class="box" (mouseenter)="onMouseEnter($event)"
     (mouseleave)="onMouseLeave($event)"
     [style.background]="boxbknd" >

    </div>
</div>
<div class="col-md-3">
    <div class="box" (mouseenter)="onMouseEnter($event)"
     (mouseleave)="onMouseLeave($event)"
     [style.background]="boxbknd">

    </div>
</div>
<div class="col-md-3">
    <div class="box" (mouseenter)="onMouseEnter($event)"
     (mouseleave)="onMouseLeave($event)"
     [style.background]="boxbknd">

    </div>
</div>


</div>
</div>