<div class="px-5 py-4 pt-md-5 pb-md-5"></div>

<div class="container">
     <div class="logo-img px-5 py-4 pt-md-5 pb-md-4 mx-auto text-center">
                <img src="../../assets/g-logo.png" alt="logo" >
     </div>
    </div>
    <div class="container  pb-md-4">
     <div class="input-group google-search text-center">
      <div class="input-group-prepend">
          <div class="input-group-text">
               <i class="fa fa-search"></i>          
             </div>
       </div>
   <input type="text" class="form-control" placeholder="Search google or type URL" >
     <div class="input-group-append input-padding">
          <div class="input-group-text">
               <a href="#"><i class="fa fa-microphone"></i></a>       
           </div>
       </div>
 </div>
</div>