
        <div class="d-flex flex-column flex-md-row google-nav p-3 px-md-4 mb-3">
            <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
            <nav class="my-2 my-md-0 mr-md-3 ">
              <a class="p-2 text-dark align-text" href="#">Gmail</a>
              <a class="p-3 text-dark align-text" href="#">Images</a>
              <a class="p-2 text-dark icon" href="#"> <i class="fa fa-th"  aria-hidden="true"></i></a>
            </nav>
            <a class="btn sign-up" href="#">Sign in</a>
            </div> 